/*
 *  CSS de la pagina principal
 *  @Autor: gla2s, Adrian Carmona
 */

/* fuentes */
@font-face {
    font-family: "Heebo";
    src: url("./assets/font/Heebo-Medium.ttf");
    font-style: normal;
    font-weight: normal;
}

 /* el body completo */
body {
    background-image: url("./assets/img/fondo.png"); /* el fondo */
    font-family: "Heebo"; 
}

#RinconCaseroIcono { /* icono de jose fijo a la izquierda */
    position: fixed;
    margin-left: 80px;
}

#Tfriconcasero { /* icono de jose fijo a la izquierda */
    position: fixed;
    margin-left: 105px;
    margin-top: 360px;
}

#medio {
    width: 50%; /* anchura */
    margin: 5vh auto; /* altura y centrado */
    background-color: white; /* color blanco fondo */
    border-radius: 1vh; /* el borde de el cuadrado central */
    box-shadow: 0 0 5px black; /* la sombra de la pagina web */
}

.central {
    margin: 0 3vh; /* el espaciado general */
}

/* barra de navegacion */
nav {
    display: flex;
    align-items: center; /* centramos los objetos */
    justify-content: space-between; /* espacio entre las categorias de iconos y navegacion */
    padding-top: 1vh; /*el pading de arriba*/
}

#iconos { /* los iconos de la barra de navegacion*/
    display: flex;
    gap: 10px; /* el espeaciado de los iconos*/
}

#navegacion {
    display: flex;
    align-items: center; /* centramos los objetos */
    gap: 20px; /* ponemos el gap entre las opciones */
}

/*   La linea   */
#linea {
    background-color: #F4B46C;
    height: 2px;
    margin: 2vh 3vh;
}


/*  Los pollos  */
#polloLaterales {
    margin-left: 10vh;
    display: inline-block;
}

#pollos {
    margin-left: 15vh;
    width: 30vh;
}



/* beta */
#beta {
    position: fixed;
    height: 80px;
    margin-top: -60px;
    margin-left: -20px;
}