/*
 *  CSS de la pagina principal
 *  @Autor: gla2s, Adrian Carmona
 */

/* fuentes */
@font-face {
    font-family: "Heebo";
    src: url("./assets/font/Heebo-Medium.ttf");
    font-style: normal;
    font-weight: normal;
}

 /* el body completo */
body {
    background-image: url("./assets/img/fondo.png"); /* el fondo */
    font-family: "Heebo"; 
}

#RinconCaseroIcono { /* icono de jose fijo a la izquierda */
    position: fixed;
    margin-left: 5%;
}

#Tfriconcasero { /* icono de jose fijo a la izquierda */
    position: fixed;
    margin-left: 7%;
    margin-top: 360px;
}

#medio {
    width: 50%; /* anchura */
    margin: 5vh auto; /* altura y centrado */
    background-color: white; /* color blanco fondo */
    border-radius: 1vh; /* el borde de el cuadrado central */
    box-shadow: 0 0 5px black; /* la sombra de la pagina web */
}

.central {
    margin: 0 3vh; /* el espaciado general */
}

#a {
    text-decoration: none;
    color: black;
}

/* barra de navegacion */
#iconoRincon {
    display: none;
    width: 15vh;
}

nav {
    display: flex;
    align-items: center; /* centramos los objetos */
    justify-content: space-between; /* espacio entre las categorias de iconos y navegacion */
    padding-top: 1vh; /*el pading de arriba*/
}

#iconos { /* los iconos de la barra de navegacion*/
    display: flex;
    gap: 10px; /* el espeaciado de los iconos*/
}

#navegacion {
    display: flex;
    align-items: center; /* centramos los objetos */
    gap: 20px; /* ponemos el gap entre las opciones */
}

/*   La linea   */
#linea {
    background-color: #F4B46C;
    height: 2px;
    margin: 2vh 3vh;
}

/*  LAS IMAGENES     */
.imagenes {
    width: 30%;
    border-radius: 50px;
    margin-bottom: 3vh;
}

/*  Los pollos y las raciones  */
#pollo-raciones-container {
    display: flex;
    align-items: center; /* Centra los objetos */
    justify-content: center; /* centra el texto en el medio */
    gap: 10vh; /* espacio entre la imagen y el texto */
    margin:3vh;
}

#pollo-raciones {
    width: 50%;
    margin-left: 0; /* quita el margin de la izquierda para centrarlo bien */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/*   NOSOTROS   */
#nosotros-container {
    display: flex;
    align-items: center; /* Centra los objetos */
    justify-content: center; /* centra el texto en el medio */
    gap: 10vh; /* espacio entre la imagen y el texto */
    margin:3vh;
}

#nosotros {
    width: 50%;
    margin-left: 0; /* quita el margin de la izquierda para centrarlo bien */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* github y linkedin */
#github {
    width: 5vh;
}

#linkedin {
    width: 5vh;
}

/* beta */
#beta {
    position: fixed;
    height: 80px;
    margin-top: -60px;
    margin-left: -20px;
}

/*      RESPONSIVE      */
@media (max-width:1480px) {
    #RinconCaseroIcono { /* icono de jose fijo a la izquierda */
        margin-left: 0%;
    }
    
    #Tfriconcasero { /* icono de jose fijo a la izquierda */
        margin-left: 2%;
    }
}

@media (max-width:1190px) {
    #RinconCaseroIcono { /* icono de jose fijo a la izquierda */
        width: 14vh;
    }
    
    #Tfriconcasero { /* icono de jose fijo a la izquierda */
        width: 14vh;
        margin-left: 0%;
        margin-top: 160px;
    }

    #medio {
        width: 70%; /* anchura */
        margin: 5vh auto; /* altura y centrado */
    }
}

@media (max-width:900px) {
    #iconoRincon {
        display: block;
    }

    #RinconCaseroIcono { /* icono de jose fijo a la izquierda */
        display: none;
    }
    
    #Tfriconcasero { /* icono de jose fijo a la izquierda */
        display: none;
    }

    #medio {
        width: 100%; /* anchura */
        margin: 5vh auto; /* altura y centrado */
    }

    #navegacion {
        display: none;
    }

    .imagenes {
        width: 80%;
    }

    #pollo-raciones-container {
        display: flex;
        flex-direction: column; /* Cambiar a disposición de columna */
        align-items: center; /* Centrar elementos */
    }

    #nosotros-container {
        display: flex;
        flex-direction: column; /* Cambiar a disposición de columna */
        align-items: center; /* Centrar elementos */
    }

    #pollo-raciones, #nosotros {
        width: 100%; /* Anchura completa para centrado */
        text-align: center; /* Alinear texto al centro */
    }
}
